<div class="container">
<h1>Tomar asistencia</h1>
    <form action="{{ url_for('cargar_asistencia') }}" method="post">
        <label for="asistencia">{{ registro.estudiante.nombre }} {{ registro.estudiante.apellido }}</label>
        <input type="text" name="asistencia" id="" placeholder="s: presente/ n:ausente" maxlength="1" minlength="1" required autofocus>
        <input type="hidden" name="curso" value="{{registro.estudiante.idcurso}}">
        <input type="hidden" name="id" value="{{registro.id}}">
        <button type="submit">Guardar asistencia</button>
    </form>
</div>




